@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
}

.rating-card {
  background-color: hsl(213, 19%, 18%);
  width: 17%;
  border-radius: 24px;
  padding: 40px;
}

.rating-card h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
}

.rating-card p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
}

.circle-bg {
  background-color: hsl(215, 8%, 24%);
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.star-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-nums {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

button {
  font-family: 'Overpass', sans-serif;
  cursor: pointer;
}

.number-btn {
  border: none;
  color: hsl(217, 12%, 63%);
  font-family: 'Overpass', sans-serif;
}

.number-btn:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.active-button {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

#submit-btn {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 24px;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
}

#submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.thank-you-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected-rating {
  background-color: hsl(215, 8%, 24%);
  margin-top: 20px;
  border-radius: 30px;
}

.selected-rating p {
  font-size: 12px;
  padding: 0 10px;
  color: hsl(25, 97%, 53%);
}

.thank-you-card .appreciate {
  margin-top: 0;
}

.hidden {
  display: none;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1400px) {
  .rating-card {
    width: 20%;
  }
}

@media only screen and (max-width: 1200px) {
  .rating-card {
    width: 25%;
  }
}

@media only screen and (max-width: 900px) {
  .rating-card {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .rating-card {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .rating-card {
    width: 60%;
  }
}